/* COLLECTION PAGE */
.collection_container {
}

.collection_container h2 {
  text-align: center;
  margin-top: 1rem;
}

.collection_page_container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.collection_page_container .collection_filters {
  width: 23rem;
  margin-right: 3rem;
  background-color: #f2f5f7;
  padding: 0.5rem;
  border-radius: 10px;
}

.used_filters_container .used_filter_name {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: var(--second-color);
  padding: 5px;
  border-radius: 10px;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.used_filters_container .used_filter_name .close_button_img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.used_filters_container .clear_all_button {
  color: var(--second-color);
  cursor: pointer;
  font-weight: 500;
}

.filter_category_container {
  margin-top: 0.5rem;
}

.filter_category_container .filter_category_title {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.filter_category_container .arrow_img {
  width: 13px;
  height: 13px;
  position: absolute;
  right: 0;
}

.filter_category_container .underline_container {
  margin-top: 4px;
  background-color: rgb(211, 211, 211);
  height: 1px;
  margin-bottom: 5px;
}

.filter_category_container .filter_list_container {
  margin-left: 12px;
}

.filter_category_container .filter_list_container p {
  width: fit-content;
  cursor: pointer;
}

.filter_category_container .filter_list_container p:hover {
  text-decoration: underline;
}

.sort_by_container {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.sort_by_container select {
  margin-top: 5px;
  width: 10.2rem;
  height: 1.4rem;
}

.sort_by_container label {
  width: fit-content;
  display: block;
}
