p,
a {
  margin: 0;
}

nav {
  background-color: var(--main-color);
}

.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.navbar_buttons {
  display: flex;
}

.navbar_buttons a {
  margin-left: 1.5rem;
  color: white;
}

.navbar_buttons a:hover {
  color: rgb(231, 236, 240);
  cursor: pointer;
  transition: var(--transition);
}

.logo_buttons_container {
  display: flex;
  align-items: center;
}

.logo_buttons_container .logo {
  width: 5rem;
  height: 5rem;
  margin-right: 3rem;
}

.collections_menu_container {
  position: relative;
  color: white;
}

.collections_menu_container .collections_button,
.collections_menu_container .arrow_down {
  color: white;
}

.arrow_down {
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 9px;
  margin-bottom: 2px;
}

.collections_menu_container:hover .collections_button {
  color: rgb(231, 236, 240);
  cursor: pointer;
}

.collections_menu_container:hover .arrow_down {
  border-color: rgb(231, 236, 240);
  cursor: pointer;
}

.collections_menu {
  position: absolute;
  top: 30px;
  width: 20rem;
  height: 8rem;
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
}

.collections_menu p {
  color: black;
  margin-left: 8px;
  font-weight: bold;
}

.collections_menu a {
  color: black;
  display: block;
  margin-left: 20px;
  width: fit-content;
}

.collections_menu a:hover {
  color: rgb(105, 105, 105);
}

.search_singin_container {
  display: flex;
  align-items: center;
}

.searchbox_container {
  display: flex;
  align-items: center;
}

.searchbox_container .search_box {
  width: 12rem;
  height: 25px;
}

.searchbox_container .search_icon {
  width: 30px;
  height: 30px;
}

.searchbox_container .search_icon:hover {
  cursor: pointer;
  fill: #e5f1f5;
  transition: var(--transition);
}

.search_singin_container .signin_button {
  color: white;
}

.search_singin_container a {
  color: white;
  padding: 3px;
  background-color: var(--second-color);
  margin-left: 15px;
}

.search_singin_container a:hover {
  background-color: #be747c;
  transition: var(--transition);
}
