.products_list_container {
  width: 50%;
  /* background-color: red; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.single_book_container {
  margin-top: 1rem;
  margin-right: 20px;
  max-width: 100%;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 0.5rem;
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  text-align: center;
}

.single_book_container p:hover {
  cursor: pointer;
}

.single_book_photo {
  max-width: 8rem;
  height: 13rem;
  max-width: 100%;
}

.single_book_photo:hover {
  cursor: pointer;
}
